:root,
::backdrop {
  --color-blue: #1d6363;
  --color-yellow: #e9d758;
  --color-orange: #ff8552;
  --color-red: #841515;
  --color-off-white: #e6e6e6;
  --color-off-black: #39393a;
  --color-white: white;
  --color-black: black;

  font-size: 18px;
}

.text-small {
  font-size: 0.75rem;
}
.text-h1 {
  font-size: 2rem;
}
.text-h2 {
  font-size: 1.25rem;
}

.padding-span {
  padding: 0.25rem 0.5rem;
}
.padding-default {
  padding: 1rem;
}
.padding-small {
  padding: 0.5rem;
}

.margin-default {
  margin: 1rem;
}
.margin-small {
  margin: 0.5rem;
}
.-margin-default {
  margin: -1rem;
}
.-margin-small {
  margin: -0.5rem;
}

.gap-default {
  gap: 1rem;
}
.gap-small {
  gap: 0.5rem;
}

:root {
  --border-color: currentColor;
  --outline-color: currentColor;
}
.border-default {
  border-width: 2px;
  border-style: solid;
  border-color: var(--border-color);
}
.border-big {
  border-width: 4px;
  border-style: solid;
  border-color: var(--border-color);
}
.focus-outline-default:focus-visible {
  outline: solid 2px var(--outline-color);
}

:root {
  --shadow-adjustment: 0px;
}
.shadow-small {
  box-shadow: calc(0.25rem - var(--shadow-adjustment))
    calc(0.25rem - var(--shadow-adjustment)) 0 0 var(--color-off-black);
}
.shadow-default {
  box-shadow: calc(0.5rem - var(--shadow-adjustment))
    calc(0.5rem - var(--shadow-adjustment)) 0 0 var(--color-off-black);
}

.font-heading {
  font-family: "BioRhyme Expanded", serif;
  text-transform: uppercase;
}
.font-body {
  font-family: "Quicksand", sans-serif;
  text-transform: lowercase;
}

.big-width-1 {
  min-width: 15rem;
}
