:root,
::backdrop {
  /* https://coolors.co/e2cb1d-ede5e1-e1eded-edece1-ededed-e35a20-297373-39393a */
  --color-blue: #297373;
  --color-pale-blue: #e1eded;
  --color-yellow: #e2cb1d;
  --color-pale-yellow: #edece1;
  --color-orange: #e35a20;
  --color-pale-orange: #ede5e1;
  --color-red: #841515;
  --color-off-black: #39393a;
  --color-off-white: #ededed;
  --color-white: white;
  --color-black: black;

  font-size: 18px;
}

@media screen and (min-width: 1000px) {
  :root,
  ::backdrop {
    font-size: 22px;
  }
}

.text-small {
  font-size: 0.75rem;
}
.text-h1 {
  font-size: 2rem;
}
.text-h2 {
  font-size: 1.25rem;
}

.padding-span {
  padding: 0.25rem 0.5rem;
}
.padding-default {
  padding: 1rem;
}
.padding-small {
  padding: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .padding-span {
    padding: 0.375rem 0.75;
  }
  .padding-default {
    padding: 1.5rem;
  }
  .padding-small {
    padding: 0.75rem;
  }
}

.margin-default {
  margin: 1rem;
}
.margin-small {
  margin: 0.5rem;
}
.-margin-default {
  margin: -1rem;
}
.-margin-small {
  margin: -0.5rem;
}

@media screen and (min-width: 1000px) {
  .margin-default {
    margin: 1.5rem;
  }
  .margin-small {
    margin: 0.75rem;
  }
  .-margin-default {
    margin: -1.5rem;
  }
  .-margin-small {
    margin: -0.75rem;
  }
}

.gap-default {
  gap: 1rem;
}
.gap-small {
  gap: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .gap-default {
    gap: 1.5rem;
  }
  .gap-small {
    gap: 0.75rem;
  }
}

:root {
  --border-color: currentColor;
  --outline-color: currentColor;
}
.border-default {
  border-width: 2px;
  border-style: solid;
  border-color: var(--border-color);
}
.border-big {
  border-width: 4px;
  border-style: solid;
  border-color: var(--border-color);
}
.focus-outline-default:focus-visible {
  outline: solid 2px var(--outline-color);
}

:root {
  --shadow-adjustment: 0px;
}
.shadow-small {
  box-shadow: calc(0.25rem - var(--shadow-adjustment))
    calc(0.25rem - var(--shadow-adjustment)) 0 0 var(--color-off-black);
}
.shadow-default {
  box-shadow: calc(0.5rem - var(--shadow-adjustment))
    calc(0.5rem - var(--shadow-adjustment)) 0 0 var(--color-off-black);
}

.font-heading {
  font-family: "BioRhyme Expanded", serif;
  text-transform: uppercase;
  font-weight: 900;
}
.font-body {
  font-family: "Quicksand", sans-serif;
  text-transform: lowercase;
}

.big-width-1 {
  min-width: 15rem;
}

.page-width-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-width-col > * {
  max-width: 20rem;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .page-width-col > * {
    max-width: 30rem;
  }
}
