/*
 * SPDX-FileCopyrightText: 2023 Jonathan Frere
 *
 * SPDX-License-Identifier: MPL-2.0
 */

.base-button {
  composes: text-small padding-span shadow-small focus-outline-default from "./_atoms.module.css";
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.default {
  composes: base-button;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.subtle {
  composes: base-button;
  composes: border-default from "./_atoms.module.css";
  --border-color: currentColor;
  background-color: var(--color-pale-blue);
  color: var(--color-blue);
}

.base-button:hover {
  transform: translateY(1px);
  --shadow-adjustment: 1px;
}

.base-button:active {
  transform: translateY(3px);
  --shadow-adjustment: 3px;
}
