/*
 * SPDX-FileCopyrightText: 2023 Jonathan Frere
 *
 * SPDX-License-Identifier: MPL-2.0
 */

.header {
  composes: font-heading padding-default text-h1 page-width-col from "./_atoms.module.css";
  text-transform: uppercase;
  background-color: var(--color-orange);
  color: var(--color-off-black);
  text-align: right;
}

.main {
  composes: gap-default from "./_atoms.module.css";
  display: flex;
  justify-content: right;
}
