.header {
  composes: font-heading padding-default text-h1 from "./_atoms.module.css";
  display: flex;
  text-transform: uppercase;
  background-color: var(--color-orange);
  color: var(--color-off-black);
}
