/*
 * SPDX-FileCopyrightText: 2023 Jonathan Frere
 *
 * SPDX-License-Identifier: MPL-2.0
 */

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.iconButton:focus-visible svg {
  outline: solid 2px currentColor;
}
