.container {
  display: flex;
  flex-direction: column;
  padding-top: 0.25rem;
}

.input {
  composes: border-default shadow-small padding-small focus-outline-default from "./_atoms.module.css";
  --border-color: var(--color-blue);
  --outline-color: var(--color-blue);
  text-transform: revert;
  background-color: var(--color-off-white);
  width: 100%;
}

.label {
  composes: border-default shadow-small padding-span text-small from "./_atoms.module.css";
  --border-color: var(--color-blue);
  align-self: flex-start;
  background-color: var(--color-off-white);
  color: var(--color-blue);
  margin-bottom: -2px;
}
