.taskbox {
  composes: border-default from "../design/_atoms.module.css";
  --border-color: var(--color-yellow);
  text-transform: lowercase;
  position: relative;
  opacity: 1;
  transition: margin 150ms, opacity 150ms;
}

.taskboxHeader {
  composes: padding-small from "../design/_atoms.module.css";
  display: flex;
  background-color: var(--color-yellow);
  justify-content: space-between;
}

.taskboxItem {
  composes: margin-small from "../design/_atoms.module.css";
  display: flex;
}

.taskboxItem:not(:first) {
  margin-top: 0;
}

.overdue {
  color: var(--color-red);
}
