/*
 * SPDX-FileCopyrightText: 2023 Jonathan Frere
 *
 * SPDX-License-Identifier: MPL-2.0
 */

.page {
  background-color: var(--color-off-white);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
